.world-card-container {
  display: flex;
  width: 50em;
  height: 9.5em;
  margin: 1em;
  transition: all 150ms ease-in-out;
  align-items: center;
  padding-left: 2em;
  color: #d6d6d6;
  font-family: Futura;
  font-size: 16px;
  box-shadow: 0 2px 4px rgb(80, 158, 146, 0.2);
  border-radius: 12px;
  background-color: rgba(18, 21, 20, 0.642)
}

.world-card-container:hover {
  transform: scale(1.025);
  border-image-slice: 1;
  box-shadow: 3px 3px 5px 6px rgba(80, 158, 146, .5);
}

.world-image {
  height: 100px;
}

.world-card-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding-left: 1em;
}

@media screen and (max-width: 54em) {
  .world-card-container {
    width: 85%;
    font-size: 12px;
  }
  .world-image {
    height: 65%
  }
}

@media screen and (max-width: 38em) {
  .world-card-container {
    width: 85%;
    font-size: 8px;
  }
  .world-card-text-container {
    width: 60%;
  }
}