.single-world-view {
  background-color: rgb(3, 42, 37);
  padding-top: 15px;
  padding: 15px 0;
}

.world-img {
  width: 100%;
}

.single-world-view h1 {
  position: absolute;
  top: 0;
  left: 15px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);
  font-size: 4rem;
  -webkit-text-stroke: 2px #1e2c2a;
}

.single-world-view p {
  font-size: 1.25rem;
  padding: 0 20px;
  color: #f1f6f9;
  text-align: left;
}

.single-top {
  position: relative;
}

.single-top-wrapper {
  border-bottom: #f1f6f9 2px solid;
  background-color: rgba(255, 255, 255, 0.6);
}

.attr-name {
  color: #1e2c2a;
  font-weight: bold;
}

.single-geo {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.single-mag-tech {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.tabs {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: #f1f6f9 2px solid;;
}

.tabs button {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: rgb(3, 42, 37);
  color: #15be8b;
  inset: 0;
  flex-grow: 1;
  height: 60px;
  text-align: center;
  font-size: 1.5rem;
}

.single-det-wrapper {
  background-color:#1e2c2a;
  border-bottom: #f1f6f9 2px solid;
  margin: 20px auto;
}

.single-det-wrapper h2,
.single-det-wrapper h3{
  color:#15be8b;
  text-align:left;
  margin-left: 10px;
}

.single-det-wrapper h2{
  font-size: 2rem;
}
.single-det-wrapper h3{
  font-size: 1.5rem;
}

.single-det-container {
  display: flex;
}
.single-det-img{
  margin: 10px;
  width: 40vw;
  border: #f1f6f9 2px solid ;
}