.world-img {
  width: 100%;
  height: 45rem;
  object-fit: cover;
}

.single-world-view h2 {
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 4rem;
  margin: 0px;
}

.single-world-view p {
  font-size: 1.1rem;
  padding: 0 20px;
  color: #f1f6f9;
  text-align: left;
}

.single-top {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.single-top-wrapper {
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-140%, -50%);
  position: absolute;
  background-color: rgba(101, 99, 99, 0.6);
  padding: 0 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.attr-name,
p.lvl-name {
  color: #1e2c2a;
  font-weight: bold;
}

.single-geo {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.single-mag-tech {
  width: 100%;
}

.level {
  color: #15be8b;
  padding: 5px;
  margin-left: 10px;
  font-size: 1rem;
  border: 1px #15be8b solid;
  border-radius: 5px;
}

p.lvl-name{
  margin-bottom: 3px;
}

p.lvl-detail{
  font-weight: 400;
  font-size: 1.1rem;
  margin-top: 5px;
}

.tabs {
  display: flex;
  width: 100%;
}

.tab {
  border: none;

  box-shadow: none;
  outline: none;
  background-color: rgb(25, 27, 25);
  color: #15be8b;
  inset: 0;
  flex-grow: 1;
  height: 60px;
  text-align: center;
  font-size: 1.5rem;
  border-bottom: #f1f6f9 2px solid;
}

.tab-active {
  border-radius: 15px;
  box-shadow: none;
  outline: none;
  background-color: rgb(25, 27, 25);
  color: #15be8b;
  inset: 0;
  flex-grow: 1;
  height: 60px;
  text-align: center;
  font-size: 1.5rem;
  border-right: 1px solid #f1f6f9;
  border-left: 1px solid #f1f6f9;
  border-bottom: none;
}

.tab:hover,
.tab-active:hover {
  cursor: pointer;
  color: #f1f6f9;
}

.tab-content {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 34em) {
  .tab {
    font-size: 1rem;
  }

  .tab-active {
    font-size: 1rem;
  }

  .single-world-view h1 {
    font-size: 3.25rem;
  }
}