.slider-container{
  display: flex;
  justify-content: center;
  /* border-bottom:rgb(20, 213, 133) solid 1px; */
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.slider-div{
  width: 100vw;
  height: 100vh;
  transition: opacity 2s;
  position: absolute;
  border-radius: 5px;
}


/* 
.my-hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -2;
  width: 100vw;
  height: 100vh;
} */

