.slider-container{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.slider-div{
  width: 100%;
  height: 100%;
  transition: opacity 2s;
  position: absolute;
  border-radius: 5px;
  background-size: cover; 
  background-position: center;
  overflow: hidden;
}