.slider-container{
  display: flex;
  justify-content: center;
  border-bottom:rgb(20, 213, 133) solid 1px;
  height: 500px;
  width: 100%; 
}

.slider-div{
  height: 500px;
  width: 90%;
  transition: opacity 2s;
  position: absolute;
  border-radius: 5px;
}