.world-browser-container {
  height: 200rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-preview-display {
  margin-bottom: 5rem;
}

.preview-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-preview-display {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
  height: 100rem;
  width: 95vw;
  margin-bottom: 10rem;
}

.grid-preview-display {
  display: flex;
  justify-content: flex-start;
  height: 60rem;
  width: 100%;
}

@media screen and (max-width: 54em) {
  .world-browser-container{
    width: 100%;
    align-items: initial;
  }
}