.single-det-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.single-det-wrapper h2,
.single-det-wrapper h3 {
  color: #15be8b;
  text-align: left;
  margin-left: 10px;
}

.single-det-wrapper h2 {
  font-size: 2rem;
}

.single-det-wrapper h3 {
  font-size: 1.5rem;
}

.single-det-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  padding-top: 25px;
  position: relative;
}

.single-det-text-wrapper {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  border-radius: 10px; 
  color: white; 
  min-height: 50%;
  max-height: 100%;
  width: 30%;
  text-align: center; 
}

.single-det-img {
  margin: 10px;
  height: 90vh;
  border-radius: 15px;
  box-shadow: 10px 10px 40px 2px;
}

.details-prev, .details-next {
  padding: 16px;
  font-size: 18px;
  height: 5rem;
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: white 1px solid;
  color: white;
  background: none;
  cursor: pointer;
  text-align: center;
  transform: translate(50%);
  position: absolute;
}

.details-next {
  position: absolute;
  right: 12%;
  top: 50%; 
  transform: translateY(-50%); 
}

.details-prev {
  position: absolute;
  left: 15%;
  top: 50%; 
  transform: translateY(-50%);
}

.modal-det-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  position: relative;
}

.single-det-modal {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60%;
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  border-radius: 10px; 
  color: white; 
  text-align: center; 
}

@media screen and (max-width: 41em) {
  .single-det-container{
   width: 100%;
  }
}

@media(max-width: 800px) {
  .single-det-img {
    max-width: 90vw;
  }

  .details-prev {
    bottom: 0;
    left: 30%;
    transform: translateY(300%);
  }

  .details-next {
    bottom: 0;
    right: 30%;
    transform: translateY(300%);
  }
}