.App {
  padding: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;;
  font-family: 'Share-TechMono', sans-serif;
  background-color: black;
  height: 100vh;
}

.hidden {
  display: hidden;
}
