.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  height: 110vh;
  margin-top: 5rem;
  margin-bottom: 5rem;
  z-index: -2;
}

.about-info {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  border-radius: 10px; 
  color: white; 
  width: 25%;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  aspect-ratio: calc(3/3);
  padding: 25px;
  border-radius: 15px;
  
}

.about-title {
  margin: 10px;
  font-size: 48px;
}

.about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px;
  font-size: 18px;
}

.button-container {
  display:flex;
  justify-content: space-evenly;
  border-radius:.75rem;
  margin: .45rem;
  padding: .45rem;
  min-width: 20rem;
}

.about-button {
  all: unset;
  color: white;
  border: 1px solid white;
  border-radius: .15rem;
  padding: .35rem;
}

.about-image {
  margin: 10px;
  height: 70vh;
  border-radius: 15px;
  box-shadow: 2px 3px 40px 15px rgba(20, 213, 133, .4);
}

@media(max-width: 800px) {
  .about-image {
    display: none;
  }
  
  .about-info {
    width: 75%;
  }
}