.intro-box {
  height: 100vh;
  max-width: 100%;
  color: white;
  position: relative;
}

.intro-text {
  font-size: 4rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.intro-text span {
  margin: 0px;
  font-family: 'Audiowide';
}

.introducing {
  position: absolute;
  top: 12%;
  left: 8%;
  transform: translateY(-50%);
  font-size: 36px;
}

.hero-title {
  position: absolute;
  top: 20%;
  left: 3%;
  transform: translateY(-50%);
  font-size: 200%;
  position: absolute;
}

.tag-text {
  position: absolute;
  bottom: 2%;
  left: 0;
  font-size: 24px;
}

.keyframe-arrow {
  position: absolute;
  bottom: 2%;
  right: 7%;
  transform: translate(-50%, -50%);
  transform: rotate(270deg);
  cursor: pointer;
}

.keyframe-arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation:animate 3.35s infinite;
}

.keyframe-arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.keyframe-arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}

@media(max-width: 1800px) {
  .hero-title {
    top: 22%;
  }
}

@media (max-width: 1100px) {
  .introducing {
    font-size: 24px;
  }
  
  .hero-title {
    position: absolute;
    top: 18%;
    left: 3%;
    transform: translateY(-40%);
    font-size: 150%;
    position: absolute;
  }
}

@media(max-width: 800px) {
  .introducing {
    font-size: 22px;
  }
  
  .hero-title {
    font-size: 70%;
  }

  .tag-text {
    font-size: 100%;
  }

  .keyframe-arrow {
    bottom: 12%;
    right: 15%;
    scale: 3;
  }
}