h2 {
  font-size: 1.75rem;
}

.header-container {
  position: absolute;
  z-index: 1;
  min-height: 5vh;
  width: 100vw;
  border-bottom:rgba(229, 235, 226, 0.25) solid .15rem;
  padding-top: 1rem;
  font-family: 'Share-TechMono', sans-serif;
  justify-content: space-between;
  display: flex;
  line-height: 2rem;
}

.buttons-container {
  position: absolute;
  right: 0;
  display: flex;
}

.header-logo:hover {
  background: rgba(185, 229, 205, 0.15);
}
.hidden {
  display:hidden;
}

.spaced-out {
  justify-content: space-between;
}

@media screen and (max-width: 34em) {
  .header-logo {
    margin: 0 auto;
    padding: .2rem;
    max-height: 8vh;
    padding-bottom: .3rem;
  }
  .header-logo:hover {
  background: none;
  }
  .header-button {

    font-size: .9rem;
    padding-right: 30px;
  }
}