h2 {
  font-size: 1.75rem;
}

.header-container {
  border-bottom:rgba(229, 235, 226, 0.696) solid 2px;
  padding-top: 20px;
  font-family: 'Share-TechMono', sans-serif;
  justify-content: center;
  align-items:center;
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    circle,rgb(3, 42, 37) 20%,rgb(80, 158, 146) 25%,rgb(3, 42, 37) 50%);
  line-height: 2rem;
}

.header-logo {
  padding: .2rem;
  max-height: 10vh;
  border:rgba(229, 235, 226, 0.696) solid 2px;
  border-radius: .65rem;
}
.header-logo:hover {
  background: rgba(185, 229, 205, 0.25);
}

.header-button {
  padding: .35rem;
  margin-bottom: .25rem;
  background: none;
  border: rgba(229, 235, 226, 0.696) solid .5px;
  color:rgb(156, 230, 220) ;
  cursor: pointer;
  border-radius: .5rem;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Share-TechMono', sans-serif;
}

.hidden {
  display:hidden;
}

.spaced-out {
  justify-content: space-between;
}

.header-container:hover {
  animation: close-in ease-in-out .6s;
}

.header-button:hover {
  background: rgba(185, 229, 205, 0.25);
}

@keyframes close-in {
  0% {
    background: radial-gradient(
      circle,rgb(3, 42, 37) 20%,rgb(80, 158, 146) 25%,rgb(3, 42, 37) 50%);
  }
  10% {
    background: radial-gradient(circle, rgba(3,42,37,) 20%, rgb(80, 158, 146) 26%, rgba(3,42,57,) 50%)
  }
  20% {
    background: radial-gradient(circle, rgba(3,42,37,) 20%, rgb(80, 158, 146) 27%,rgba(3,42,57,) 50%)
  }
  30% {
    background: radial-gradient(circle, rgba(3,42,37,) 20%, rgb(80, 158, 146) 28%, rgb(3, 42, 37) 50%)
  }
  40% {
    background: radial-gradient(circle, rgb(3, 42, 37) 20%, rgb(80, 158, 146) 29%, rgb(3, 42, 37) 50%)
  }
  50% {
    background: radial-gradient(circle, rgb(3, 42, 37) 20%, rgb(80, 158, 146) 30%,  rgb(3, 42, 37) 50%)
  }
  60% {
    background: radial-gradient(circle, rgb(3, 42, 37) 20%, rgb(80, 158, 146) 29%, rgb(3, 42, 37) 50%)
  }
  70% {
    background: radial-gradient(circle, rgb(3, 42, 37) 20%, rgb(80, 158, 146) 28%, rgb(3, 42, 37) 50%)
  }
  80% {
    background: radial-gradient(circle, rgb(3, 42, 37) 20%, rgb(80, 158, 146) 27%, rgb(3, 42, 37) 50%)
  }
  90% {
    background: radial-gradient(circle, rgb(3, 42, 37) 20%, rgb(80, 158, 146) 26%, rgb(3, 42, 37) 50%)
  }
  100% {
    background: radial-gradient(
      circle,rgb(3, 42, 37) 20%,rgb(80, 158, 146) 25%,rgb(3, 42, 37) 50%);
  }
}