.grid-preview-container {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.grid-preview-image {
  width: 10rem;
  height: 10rem;
  margin: 2rem;
  /* display: flex;
  flex-direction: column;
  align-items: space-evenly; */
}



