.carousel {
  display: flex;
  justify-content: space-evenly;
  /* margin: auto; */
  width: 75%;
  /* aspect-ratio: calc(16/4); */
  position: relative;
  overflow: hidden;
  border-radius: 16px;
}

.carousel-btn {
  padding: 16px;
  font-size: 18px;
  width: 64px;
  aspect-ratio: 1;
  border-radius: 32px;
  border: none;
  background-color: lightgray;
  cursor: pointer;
  text-align: center;
}

.carousel-item {
  margin-right: 3rem;
  width: 18rem;
  height: 18rem;
  border-radius: 32px;
  aspect-ratio: 1;

}

.carousel-btn:hover {
  background-color: grey;
}

.prev-button {
  position: absolute;
  top: 50%;
  left: 4rem;
  transform: translate(-50%);
}

.next-button {
  position: absolute;
  top: 50%;
  right: 4rem;
  transform: translate(-50%);
}