.carousel-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.carousel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: .15rem;
  padding: 1.5rem;
  margin: -1rem;
}

.carousel-btn {
  padding: 16px;
  font-size: 12px;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 30px;
  border: white 1px solid;
  color: white;
  background: none;
  cursor: pointer;
  text-align: center;
}

.carousel-preview-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  aspect-ratio: 1;
}

.modal {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: .15rem;
  transform: translateY(50%);
  border-radius: 10px;
}

.modal p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px
}

.modal-name {
  font-size: 20px;
  margin-bottom: 5px;
}
.modal-blurb {
  font-size:1rem;
}
.carousel-item {
  margin-right: 0rem;
  width: 100%;
  border-radius: 10px;
  border: rgb(6, 89, 54) .05rem solid;
  aspect-ratio: 1;
}

.carousel-btn:hover {
  color: rgb(20, 213, 133);
  border: rgb(20, 213, 133) 1px solid;
}

.prev-button {
  position: absolute;
  left: 3.5rem;
  transform: translate(-50%);
}

.next-button {
  position: absolute;
  right: -.5rem;
  transform: translate(-50%);
}

.genre {
  color: white;
  font-size: 3.5rem;
  margin: 0px;
  margin-left: 4.5rem;
}

@media (max-width: 1650px ) {
  .carousel-preview-container {
    width: 23%;
  }
  .genre {
    font-size: 3rem;
  }
}

@media (max-width: 1350px ) {
  .carousel-preview-container {
      width: 20%;
    }
  .carousel-wrapper {
    width: 95%
  }
  .genre {
    font-size: 3rem;
  }
}

@media (max-width: 1100px) {
  .carousel-preview-container {
    width: 23%
  }
  .genre {
    font-size: 2rem;
  }
}

@media (max-width: 780px) {
  .carousel-btn {
    scale: .8;
  }
  .carousel-wrapper {
    width: 85%;
  }
  .carousel-preview-container {
    width: 41%;
  }
  .prev-button {
    left: 1.15rem;
  }
  .next-button {
    right: -1.85rem;
  }
}

@media (max-width: 600px) {
  .carousel-wrapper {
    width: 70%;
  }

  .carousel-preview-container {
    width: 90%;
  }
  .genre {
    font-size: 1rem;
  }
}