.carousel-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center
}

.carousel {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  padding: 1.5rem;
}

.carousel-btn {
  padding: 16px;
  font-size: 12px;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 25px;
  border: white 1px solid;
  color: white;
  background: none;
  cursor: pointer;
  text-align: center;
}

.carousel-item {
  margin-right: 2rem;
  width: 10rem;
  height: 10rem;
  border-radius: 15px;
  aspect-ratio: 1;
}

.carousel-btn:hover {
  background-color: rgba(62, 62, 62, 0.5);
}

.prev-button {
  position: absolute;
  top: 50%;
  left: 4rem;
  transform: translate(-50%);
}

.next-button {
  position: absolute;
  top: 50%;
  right: 0rem;
  transform: translate(-50%);
}

.genre {
  color: white;
  margin: 0px;
}