.welcome-page {
  height: 200vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.intro-box {
  position: absolute;
  display:flex;
  padding: 1rem;
  top: 35rem;
  left: 5rem;
}

.intro-text {
  font-size: 4rem;
  color: white;
}