.welcome-page {
  height: 35rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-menu {
  color: white;
  width: 500px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: flex-start;
  background: rgb(3, 42, 37, .5);
  border: .75rem #43675ded solid;
  border-radius: .25rem;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) ease-out infinite forwards;
}

.initial-text {
  color: white;
  font-size: 1.25rem;
}

.intro-text {
  color: white;
  font-size: 1rem;
}

.button-container {
  display:flex;
  justify-content: space-between;
  border-radius:.75rem;
  margin: .45rem;
  padding: .45rem;
  min-width: 20rem;
}

.menu-button {
  padding: 0.6em 2em;
  border: 1px solid #bccab3e6;
  box-shadow: #bccab3e6 0px 2px 4px, #bccab3e6 0px 7px 13px -3px, #bccab3e6 0px -3px 0px inset;
  outline: none;
  color: #69dc9f;
  background:#2c36383c;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'DYLOVASTUFF', sans-serif;
}

.menu-button:hover {
  animation: increase 2s ease-out;
}

@keyframes increase {
  25% {
    scale: 1.05;
    background:#2c36383c;
  }
  50% {
    scale: 1.10;
    background:#2c363876;
  }
  75% {
    scale: 1.15;
    background:#2c3638af;
  }
  100% {
    scale: 1.2;
    background:#2C3638;
  }
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

:root {
	--d:  10000ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: #CDD2CA;
	--c2: #4a7166;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}