.welcome-page {
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-menu {
  color: white;
  width: 32rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
  background: rgb(3, 42, 37, .5);
  border-radius: .40rem;
}

.first-intro-text {
  display: flex;
  justify-items: center;
  color: white;
  z-index: 1;
  font-size: 2.5rem;
  margin: 1rem;
}

.second-intro-text {
  display: flex;
  justify-items: center;
  color: white;
  z-index: 1;
  font-size: 1rem;
  margin: 1rem;
  margin-top: 7rem;
  margin-right: 5rem;
}
.first-box {
  height: 8rem;
  border: 1px solid white;
  border-radius: .15rem;
}
.second-box {
  display:flex;
  align-items: center;
  height: 4rem;
  border: 1px solid white;
  border-radius: .15rem;
  margin-top: 4rem;
}
.initial-text {
  color: white;
  font-size: 1.25rem;
}

.intro-text {
  color: white;
  font-size: 1rem;
}


.menu-button {
  padding: 0.6em 2em;
  outline: none;
  border: black solid .5px;
  background: rgb(3, 42, 37, .5);
  color:white;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'DYLOVASTUFF', sans-serif;
}

.menu-button:hover {
  animation: increase 2s ease-out;
}